definitions:
  domain.LoginRequest:
    properties:
      email:
        example: admin@photobooth.com
        type: string
      password:
        example: password123
        type: string
    required:
    - email
    - password
    type: object
  response.ErrorResponse:
    properties:
      error:
        type: string
      errors:
        description: Untuk detail validasi field
      status:
        type: boolean
    type: object
  response.Response:
    properties:
      data: {}
      message:
        type: string
      status:
        type: boolean
    type: object
info:
  contact: {}
  description: API Dokumentasi untuk Sistem SaaS Photobooth.
  title: Photobooth Core API
  version: "1.0"
paths:
  /api/v1/login:
    post:
      consumes:
      - application/json
      parameters:
      - description: Kredensial Login
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/domain.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Response'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/response.ErrorResponse'
      summary: User Login
      tags:
      - auth
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
